@media only screen and (max-width: 768px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }

  body {
    background-color: #4269b2;
  }
}
