.details-container {
}

.country-name {
  padding: 0.35em 0.15em;
  color: white;
}

.card-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0.35em;
}

.card-items:nth-child(2n) {
  background-color: #244d9b;
}

.sub-portion {
  display: flex;
}

.sub-portion > * {
  margin-right: 6px;
}

.title,
.date {
  font-size: 0.75rem;
  color: white;
}
